<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/layout/layout}">
<th:block layout:fragment="css">
	<style>
		.errorMessage {
			color: red;
			margin-left: 10px;
		}
	</style>
</th:block>
<th:block layout:fragment="content">
	<!-- Posts -->
	<section class="post">
		<header class="major">
			<h1>
				자격증
			</h1>
			<p>
				Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br>
				facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br>
				amet nullam sed etiam veroeros.
			</p>
		</header>
		<form id="license" method="post" action="">
			<div class="row gtr-uniform">
				<div class="col-12">
					<h4>자격증 목록</h4>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>No</th>
									<th>CertificateName</th>
									<th>LicenseNumber</th>
									<th>CreatedDate</th>
								</tr>
							</thead>
							<tbody id="license">
							
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="col-12">
					<hr>
					<h4>자격증 등록</h4>
				</div>
				
				<div class="col-6">
					<label>자격증 이름</label>
					<input type="text" name="name" value="" placeholder="이름">
					<span class="errorMessage" id="valid_name"></span>
				</div>
				
				<div class="col-6">
					<label>자격증 번호</label>
					<input type="text" name="no" value="" placeholder="자격증 번호">
					<span class="errorMessage" id="valid_no"></span>
				</div>
				
				<div class="col-12">
					<ul class="actions" style="justify-content: center;">
						<li>
							<input type="button" onclick="saveLicenseAjax()" value="save" class="primary">
						</li>
						<li><input type="button" onclick="back()" value="back"></li>
					</ul>
				</div>
			
			</div>
		</form>
	</section>
</th:block>
<th:block layout:fragment="script">
	<script type="text/javascript">
		const authToken = getCookie("authToken");
		
		$(document).ready(function () {
			getLicenseAjax();
		});
		
		function getLicenseAjax() {
			$.ajax({
				url : "/api/trainer/my-page/license",
				type : "get",
				beforeSend: function (xhr) {
			    	xhr.setRequestHeader("Authorization", "Bearer " + authToken);
			    },
				success : function(res) {
					if (res.code === 200) {
						setLicenseList(res.data);
					}
				},
				error : function(res) {
					if (res.responseJSON.code === 400) {
						defalutErrorAlert(res.responseJSON.message);
					}
				}
			});
		}
		
		function saveLicenseAjax() {
			let name = $("input[name=name]").val();
			let no = $("input[name=no]").val();

			$.ajax({
				url : "/api/trainer/my-page/license",
				type : "post",
				beforeSend: function (xhr) {
			    	xhr.setRequestHeader("Authorization", "Bearer " + authToken);
			    },
				data : {
					"name" : name,
					"no" : no,
				},
				success : function(res) {
					if (res.code === 200) {
						defalutSuccessAlert(res.message, "성공").then(function (){
						});
					}
				},
				error : function(res) {
					if (res.responseJSON.code === 400) {
						defalutErrorAlert(res.responseJSON.message);
					}
				}
			});
		}
		
		function setLicenseList(data) {
			let appendHtml = "<tr><td colspan=4 style='text-align: center;'>조회된 자격증 목록이 없습니다.</td></tr>";
			
			if (data.length) {
				appendHtml = "";
				$.each(data, function(key, value) {
					key++;
					appendHtml += "<tr>";
						appendHtml += "<td>" + key + "</td>";
						appendHtml += "<td>" + value.certificateName + "</td>";
						appendHtml += "<td>" + value.licenseNumber + "</td>";
						appendHtml += "<td>" + value.createdDate + "</td>";
					appendHtml += "</tr>";
				});
			}
			
			$("tbody[id=license]").append(appendHtml);
		}
		
		
	</script>
</th:block>
</html>