<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/layout/layout}">
<th:block layout:fragment="css">
	<style>
		.errorMessage {
			color: red;
			margin-left: 10px;
		}
	</style>
</th:block>
<th:block layout:fragment="content">
<section class="post">
		<header class="major">
			<h1>
				비밀번호 <br> 변경
			</h1>
			<p>
				Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br>
				facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br>
				amet nullam sed etiam veroeros.
			</p>
		</header>
		<form id="passwordForm" method="post" action="">
			<div class="row gtr-uniform">
				<input type="hidden" name="email">
				<div class="col-6 col-12-xsmall">
					<label>현재 비밀번호</label> 
					<input type="password" name="password" id="password" value="" placeholder="비밀번호">
					<span class="errorMessage" id="valid_password"></span>
					<span class="errorMessage" id="valid_EmailAndPw"></span>
				</div>
				
				<div class="col-6 col-12-xsmall"></div>
			
				<div class="col-6 col-12-xsmall">
					<label>변경 비밀번호</label> 
					<input type="password" name="newPassword" id="newPassword" value="" placeholder="변경 비밀번호">
					<span class="errorMessage" id="valid_newPassword"></span>
					<span class="errorMessage" id="valid_PasswordUpdate"></span>
				</div>

				<div class="col-6 col-12-xsmall">
					<label>변경 비밀번호 확인</label>
					<input type="password" name="newPasswordConfirm" id="newPasswordConfirm" value="" placeholder="변경 비밀번호 확인">
					<span class="errorMessage" id="valid_newPasswordConfirm"></span>
				</div>
				
					<!-- Break -->
				<div class="col-12">
					<ul class="actions" style="justify-content: center;">
						<li><input type="button" value="Update" class="primary"
							onclick="updateAjax()"></li>
						<li><input type="reset" value="Reset"></li>
					</ul>
				</div>
				
			</div>
		</form>
</section>
			
</th:block>
<th:block layout:fragment="script">
	<script type="text/javascript">
	$(document).ready(function () {
		let authToken = getCookie("authToken");
		
		$.ajax({
			url : "/api/trainer/email",
			type : "get",
			beforeSend: function (xhr) {
		    	xhr.setRequestHeader("Authorization", "Bearer " + authToken);
		    },
			success : function(res) {
				if (res.code === 200) {
					$("input[name=email]").val(res.data);
				}
			},
			error : function(res) {
				if (res.responseJSON.code === 400) {
					defaultErrorAlert(res.responseJSON.data.message, "실패");
				}
			}
			
		});
	});
		function updateAjax() {
			errorMessageReset();
			let formData = $("form[id=passwordForm]").serialize();
			
			$.ajax({
				url : "/api/trainer/password",
				type : "put",
				data :formData,
				success : function(res) {
					if (res.code === 200) {
						defaultSuccessAlert(res.message, "성공").then(function (){
							window.location.replace("/trainer/my-page")
						});
					}
				},
				error : function(res) {
					if (res.responseJSON.code === 400) {
						errorMessage(res.responseJSON.data);
					}
				}
			});
		}
		
	</script>
</th:block>
</html>