<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/layout/layout}">
<th:block layout:fragment="css">
	<style>
		.errorMessage {
			color: red;
			margin-left: 10px;
		}
	</style>
</th:block>
<th:block layout:fragment="content">
	<!-- Posts -->
	<section class="post">
		<header class="major">
			<h1>
				내 정보
			</h1>
			<p>
				Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br>
				facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br>
				amet nullam sed etiam veroeros.
			</p>
		</header>
		<form id="info" method="post" action=""
			enctype="multipart/form-data">
			<div class="row gtr-uniform">
				
				<div class="col-6">
					<label>이름</label>
					<input type="text" name="name" value="" placeholder="이름">
					<span class="errorMessage" id="valid_name"></span>
				</div>
				
				<div class="col-6">
					<label>이메일</label>
					<input type="text" name="email" value="" placeholder="이메일" disabled="disabled">
					<input type="hidden" name="email" value="" >
					<span class="errorMessage" id="valid_email"></span>
				</div>

				<!-- Break -->
				<div class="col-12">
					<label>활동 주소 / 직장 주소</label>
					<ul class="actions">
						<li>
							<input type="text" id="sample4_postcode" name="postcode" placeholder="우편번호" disabled="disabled">
							<input type="hidden" id="sample4_postcode" name="postcode">
							<span class="errorMessage" id="valid_postcode"></span>
						</li>
						<li>
							<input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
						</li>
					</ul>
				</div>

				<div class="col-6">
					<input type="text" id="sample4_roadAddress" name="roadAddress" placeholder="도로명주소">
					<input type="text" id="sample4_jibunAddress" name="jibunAddress" placeholder="지번주소">
					<span id="guide" style="color: #999; display: none"></span>
				</div>

				<div class="col-6">
					<input type="text" id="sample4_detailAddress" name="detailAddress" placeholder="상세주소">
					<input type="text" id="sample4_extraAddress" name="extraAddress" placeholder="참고항목">
				</div>

				<!-- Break -->
				<div class="col-6">
					<label>PT 가격 (1회 기준)</label>
					<input type="text" name="price" maxlength=6 oninput="checkNumber(this)" placeholder="가격">
					<span class="errorMessage" id="valid_price"></span>
				</div>
				
				<!-- Break -->
				<div class="col-6">
				</div>

				<!-- Break -->
				<div class="col-6">
					<label>성별</label>
					<div>
						<input type="radio" id="M" name="gender" value="M">
						<label for="M">남</label>
					</div>
					<div>
						<input type="radio" id="F" value="F" name="gender">
						<label for="F">여</label>
					</div>
					<span class="errorMessage" id="valid_gender"></span>
				</div>

				<!-- Break -->
				<div class="col-6">
					<label>소속</label>
					<div>
						<input type="radio" id="Y" name="groupStatus" value="Y">
						<label for="Y">유</label>
					</div>
					<div>
						<input type="radio" id="N" value="N" name="groupStatus">
						<label for="N">무</label>
					</div>
					<span class="errorMessage" id="valid_groupStatus"></span>
				</div>

				<div class="col-6">
					<label>소속명</label>
					<input type="text" name="groupName" value="" placeholder="소속명">
					<span class="errorMessage" id="valid_GroupName"></span>
				</div>
				
				<div class="col-6">
					<label>간단한 자기소개</label>
					<input type="text" name="introduction" value="" placeholder="간단한 자기소개">
					<span class="errorMessage" id="valid_introduction"></span>
				</div>

				<!-- Break -->
				<div class="col-12">
					<ul class="actions" style="justify-content: center;">
						<li><input type="button" value="update" class="primary"
							onclick="updateInfoAjax()" ></li>
						<li><input type="reset" value="Reset"></li>
					</ul>
				</div>

			</div>
		</form>
	</section>
</th:block>
<th:block layout:fragment="script">
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script type="text/javascript">
	</script>
</th:block>
</html>