<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<th:block th:fragment="headFragment">
		<head>
			<title>득근득근</title>
			<link rel="shortcut icon" type="image/x-icon" href="/images/icon.png">
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
			<link rel="stylesheet" href="/assets/css/main.css"/>
			<link rel="stylesheet" href="/assets/css/noscript.css"/>
			<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.min.css" rel="stylesheet">
			<th:block layout:fragment="css"></th:block>
		</head>
	</th:block>
</html>