<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/layout/layout}">
<th:block layout:fragment="css">
	<style>
		.errorMessage {
			color: red;
			margin-left: 10px;
		}
	</style>
</th:block>
<th:block layout:fragment="content">
	<!-- Posts -->
	<section class="post">
		<header class="major">
			<h1>
			로그인
			</h1>
			<p>
				Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br>
				facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br>
				amet nullam sed etiam veroeros.
			</p>
		</header>
		<form id="login" method="post" action=""
			enctype="multipart/form-data">
			<div class="row gtr-uniform">
			
				<div class="col-12" style="text-align: center;">
					<label>사용자 타입</label>
					<div>
						<input type="radio" id="user" name="loginType" value="user" checked="checked">
						<label for="user">일반</label>
						<input type="radio" id="trainer" value="trainer" name="loginType">
						<label for="trainer">트레이너</label>
					</div>
					<span class="errorMessage" id="valid_loginType"></span>
				</div>
				
				<div class="col-6 col-12-xsmall">
					<label>이메일</label>
					<input type="email" name="email" value="" placeholder="이메일">
					<span class="errorMessage" id="valid_email"></span>
					<span class="errorMessage" id="valid_Login"></span>
				</div>

				<div class="col-6 col-12-xsmall">
					<label>비밀번호</label> 
					<input type="password" name="password" id="password" value="" placeholder="비밀번호">
					<span class="errorMessage" id="valid_password"></span>
				</div>
				
				<div class="col-12">
					<ul class="actions" style="justify-content: center;">
						<li><input type="button" value="login" class="primary" onclick="loginAjax()"></li>
						<li><input type="button" value="Find Password"></li>
					</ul>
				</div>
				
			</div>
		</form>
	</section>
</th:block>
<th:block layout:fragment="script">
	<script type="text/javascript">
	function loginAjax() {
		errorMessageReset();

		let loginType = $("input[name=loginType]:checked").val();
		let url = "/api/" + loginType + "/login";
		let email = $("input[name=email]").val();
		let password = $("input[name=password]").val();
	
		$.ajax({
			url : url,
			type : "post",
			data : {
				"email" : email,
				"password" : password
			},
			success : function(res) {
				if (res.code === 200) {
					defaultSuccessAlert(res.message, "성공").then(function (){
						setCookie("authToken", "Bearer "+ res.data.authToken);
						setCookie("role", res.data.role);
						window.location.replace("http://localhost:8080/");
					});
				}
			},
			error : function(res) {
				if (res.responseJSON.code === 400) {
					errorMessage(res.responseJSON.data);
				}
			}
		});
	}
	</script>
</th:block>