<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/layout/layout}">
<th:block layout:fragment="css">
	<style>
		.page {
			display:flex;
			justify-content: center;
		}
		.p {
			padding: 0.30rem;
			cursor: pointer;
		}
	</style>
</th:block>
<th:block layout:fragment="content">
	<article class="post featured" style="padding: 8rem 8rem 1rem 8rem;">
		<form method="get" action="#">
			<div class="fields search">
				<div class="field keyword" id="field-keyword">
					<label for="keyword">검색창</label> 
					<input type="text" name="keyword" id="keyword" placeholder="제목, 지역명을 입력해주세요." />
				</div>

				<div class="field" id="field-button">
					<input type="submit" value="Send Message" />
				</div>
			</div>
		</form>
	</article>

	<!-- Posts -->
	<section class="post" style="padding: 2rem 8rem 6rem 8rem;">
		<h3>검색 결과</h3>
		<div class="table-wrapper">
			<table name="list">
				<thead>
				<tr>
					<th>Title</th>
					<th>Start</th>
					<th>End</th>
					<th>Address</th>
					<th>상세보기</th>
				</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</section>

	<section class="page">

	</section>

</th:block>
<th:block layout:fragment="script">
	<script type="text/javascript">

		$(document).ready(function () {
			getList();
		})
		
		function getList(currentPage = 0) {
			let keyword = getUrlParam("keyword");

			$.ajax({
				url : "/api/jobPosting/",
				method : "get",
				data : {
					"keyword" : keyword,
					"currentPage" : currentPage,
				},
				success : function(res) {
					setList(res.data.content);
					setPage(res.data.currentPage, res.data.totalPages);
				}
			});
		}
		
		function setList(list) {
			$("table[name=list]").find("tbody").find("tr").remove();

			let html = "";

			if (list.length === 0) {
				html += "<tr><td colspan=5 style='text-align: center;'> 조회된 결과가 없습니다. <td><tr>";
			} else {
				$.each(list, function(key, data) {
					html += "<tr>";
					html += "<td>" + data.title + "</td>";
					html += "<td>" + data.startDate + "</td>";
					html += "<td>" + data.endDate + "</td>";
					html += "<td>" + data.address + "</td>";
					html += "<td>";
					html += "<a href='#' class='button small'>상세보기</a>";
					html += "</td>";
					html += "</tr>";
				});
			}

			$("table[name=list]").find("tbody").append(html);
		}

		function setPage(currentPage, totalPages) {
			$(".page").find(".p").remove();
			let appendHtml = "";

			for(let i = 0; i < totalPages; i++) {
				appendHtml += "<p class='p' id='" + i + "' onclick='getList(" + i + ")'>" + (i + 1) + "</p>";
			}

			$(".page").append(appendHtml);
			$("p[id=" + currentPage + "]").css("font-weight","600");
		}

		function getUrlParam(key) {
			let url = new URL(window.location.href);
			let urlParams = url.searchParams;
			return urlParams.get(key);
		}

	</script>
</th:block>
</html>