<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/layout/layout}">
<th:block layout:fragment="css">
	<style>
		.page {
			display:flex;
			justify-content: center;
		}
		.p {
			padding: 0.30rem;
			cursor: pointer;
		}
	</style>
</th:block>
<th:block layout:fragment="content">
	<article class="post featured">
		<form method="get" action="#">
			<div class="fields search">
				<div class="field keyword" id="field-keyword">
					<label for="keyword">검색창</label> 
					<input type="text" name="keyword" id="name" placeholder="트레이너, 헬스장, 지역명을 입력해주세요." />
				</div>

				<div class="field" id="field-button">
					<input type="submit" value="Send Message" />
				</div>
			</div>
		</form>
	</article>

	<!-- Posts -->
	<section class="posts">
		<p class="center-p" style="width: 100%; text-align:center;" >조회된 결과가 없습니다.</p>
	</section>

	<section class="page">

	</section>

</th:block>
<th:block layout:fragment="script">
	<script type="text/javascript">
		$(document).ready(function () {
			let url = new URL(window.location.href);
			let urlParams = url.searchParams;
			let keyword = urlParams.get("keyword");
						
			getList(keyword);
		})
		
		function getList(keyword, currentPage = 0) {
			$.ajax({
				url : "/api/trainer/",
				method : "get",
				data : {
					"keyword" : keyword,
					"currentPage" : currentPage,
				},
				success : function(res) {
					if (res.data.list.length > 0) {
						$("section[class=posts]").find("article").remove();
						$("section[class=posts]").find("p").remove();
						setList(res.data.list);
						setPage(res.data.currentPage, res.data.totalPages);
					}
				}
			});
		}
		
		function setList(list) {
			$.each(list, function(key, data) {
				let section = $("section[class=posts]");
				let appendHtml = '';
				appendHtml += '<article>';
					appendHtml += '<header>';
					appendHtml += '<span class="date"></span>';
					appendHtml += '<h2>';
						appendHtml += '<a href="#">' + data.name + ' <br /> 트레이너님 </a>';
					appendHtml += '</h2>';
					appendHtml += '</header>';
					appendHtml += '<a href="#" class="image fit" style="height: 450px; border: solid 1px #eeeeee;"><img src="/images/trainer/profile/' + data.path + '" alt="" /></a>';
					appendHtml += '<p>' + data.introduction + '</p>';
					appendHtml += '<ul class="actions special">';
						appendHtml += '<li><a href="/trainer/detail/' + data.id + '" class="button">상세보기</a></li>';
					appendHtml += '</ul>';
				appendHtml += "</article>";

				section.append(appendHtml);
			});
		}

		function setPage(currentPage, totalPages) {
			$(".page").find(".p").remove();

			let appendHtml = "";
			for(let i = 1; i <= totalPages; i++) {
				appendHtml += "<p class='p' onclick='getList(" + i + ")'>" + i + "</p>";
			}

			$(".page").append(appendHtml);
		}
	</script>
</th:block>
</html>