<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/layout/layout}">
<th:block layout:fragment="css">
	<style>
	</style>
</th:block>
<th:block layout:fragment="content">
	<article class="post featured">
		<form method="get" action="#">
			<div class="fields search">
				<div class="field keyword" id="field-keyword">
					<label for="keyword">검색창</label> <input type="text" name="keyword"
						id="name" placeholder="트레이너, 헬스장, 지역명을 입력해주세요." />
				</div>

				<div class="field" id="field-button">
					<input type="submit" value="Send Message" />
				</div>
			</div>
		</form>
	</article>

	<!-- Posts -->
	<section class="posts">
		<p class="center-p" style="width: 100%; text-align:center;" >조회된 결과가 없습니다.</p>
	</section>
</th:block>
<th:block layout:fragment="script">
	<script type="text/javascript">
		$(document).ready(function () {
			let url = new URL(window.location.href);
			let urlParams = url.searchParams;
			let keyword = urlParams.get("keyword");
			let area = urlParams.get("area");
			
			$.ajax({
				url : "/api/trainer/",
				method : "get",
				data : {
					"keyword" : keyword,
					"area" : area
				},
				success : function(res) {
					$.each(res.data, function(key, value) {
						setList(value);
					});
				}
			});
		})
		
		function setList(data) {
			let section = $("section[class=posts]");
			section.find("article").remove();
			section.find("p").remove();
			
			let appendHtml = '';
			appendHtml += '<article>';
				appendHtml += '<header>';
				appendHtml += '<span class="date"></span>';
				appendHtml += '<h2>';
					appendHtml += '<a href="#">' + data.name + ' <br /> 트레이너님 </a>';
				appendHtml += '</h2>';
				appendHtml += '</header>';
				appendHtml += '<a href="#" class="image fit"><img src="/images/trainer/profile/' + data.profile.path + '" alt="" /></a>';
				appendHtml += '<p>' + data.introduction + '</p>';
				appendHtml += '<ul class="actions special">';
					appendHtml += '<li><a href="/trainer/detail/' + data.id + '" class="button">상세보기</a></li>';
				appendHtml += '</ul>';
			appendHtml += "</article>";
			
			section.append(appendHtml);
		}
	</script>
</th:block>
</html>