<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/layout/layout}">
<th:block layout:fragment="css">
	<style>
		.errorMessage {
			color: red;
			margin-left: 10px;
		}
	</style>
</th:block>
<th:block layout:fragment="content">
	<!-- Posts -->
	<section class="post">
		<header class="major">
			<h1>
				트레이너 <br> 회원가입
			</h1>
			<p>
				Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br>
				facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br>
				amet nullam sed etiam veroeros.
			</p>
		</header>
		<form id="join" method="post" action=""
			enctype="multipart/form-data">
			<div class="row gtr-uniform">
				<div class="col-6">
					<label>이름</label>
					<input type="text" name="name" value="" placeholder="이름">
					<span class="errorMessage" id="valid_name"></span>
				</div>
				
				<div class="col-6"></div>

				<div class="col-6 col-12-xsmall">
					<label>이메일</label>
					<ul class="actions">
						<li>
							<input type="email" name="email" value="" placeholder="이메일">
							<span class="errorMessage" id="valid_email"></span>
						</li>
						<li>
							<input type="button" onclick="codeSendAjax()" value="인증 번호 보내기">
						</li>	
					</ul>
				</div>
				
				<div class="col-6 col-12-xsmall">
					<label>인증 번호</label>
					<ul class="actions">
						<li>
							<input type="text" name="code" value="" placeholder="인증번호">
							<span class="errorMessage" id="valid_code"></span>
							<span class="errorMessage" id="valid_AuthMailCode"></span>
							<span class="errorMessage" id="valid_AuthEmail"></span>
						</li>
						<li>
							<input type="button" onclick="codeConfirmAjax()" value="인증 확인">
						</li>	
					</ul>
				</div>

				<div class="col-6 col-12-xsmall">
					<label>비밀번호</label> 
					<input type="password" name="password" id="password" value="" placeholder="비밀번호">
					<span class="errorMessage" id="valid_password"></span>
				</div>

				<div class="col-6 col-12-xsmall">
					<label>비밀번호 확인</label>
					<input type="password" name="passwordConfirm" id="passwordConfirm" value="" placeholder="비밀번호 확인">
					<span class="errorMessage" id="valid_passwordConfirm"></span>
				</div>

				<!-- Break -->
				<div class="col-12">
					<label>활동 주소 / 직장 주소</label>
					<ul class="actions">
						<li>
							<input type="text" id="sample4_postcode" name="postcode" placeholder="우편번호" readonly="readonly" disabled="disabled">
							<span class="errorMessage" id="valid_postcode"></span>
						</li>
						<li>
							<input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
						</li>
					</ul>
				</div>

				<div class="col-6">
					<input type="text" id="sample4_roadAddress" name="roadAddress" placeholder="도로명주소">
					<input type="text" id="sample4_jibunAddress" name="jibunAddress" placeholder="지번주소">
					<span id="guide" style="color: #999; display: none"></span>
				</div>

				<div class="col-6">
					<input type="text" id="sample4_detailAddress" name="detailAddress" placeholder="상세주소">
					<input type="text" id="sample4_extraAddress" name="extraAddress" placeholder="참고항목">
				</div>

				<!-- Break -->
				<div class="col-6">
					<label>프로필 이미지</label>
					<ul class="actions">
						<li>
							<input type="text" id="fileName" readonly="readonly" disabled="disabled">
							<span class="errorMessage" id="valid_profile"></span>
						</li>
						<li>
							<a href="#" class="button primary icon solid fa-search" id="fileUpload">file</a>
						</li>
					</ul>

				</div>

				<!-- Break -->
				<div class="col-6">
					<label>PT 가격 (1회 기준)</label>
					<input type="text" name="price" maxlength=6 oninput="checkNumber(this)" placeholder="가격">
					<span class="errorMessage" id="valid_price"></span>
				</div>

				<!-- Break -->
				<div class="col-6">
					<label>성별</label>
					<div>
						<input type="radio" id="male" name="gender" value="M" checked="checked">
						<label for="male">남</label>
					</div>
					<div>
						<input type="radio" id="female" value=1 name="F">
						<label for="female">여</label>
					</div>
					<span class="errorMessage" id="valid_gender"></span>
				</div>

				<!-- Break -->
				<div class="col-6">
					<label>소속</label>
					<div>
						<input type="radio" id="Y" name="groupStatus" value="Y" checked="checked">
						<label for="Y">유</label>
					</div>
					<div>
						<input type="radio" id="N" value="N" name="groupStatus">
						<label for="N">무</label>
					</div>
					<span class="errorMessage" id="valid_groupStatus"></span>
				</div>

				<div class="col-6">
					<label>소속명</label>
					<input type="text" name="groupName" value="" placeholder="소속명">
					<span class="errorMessage" id="valid_groupName"></span>
				</div>

				<!-- Break -->
				<div class="col-12">
					<ul class="actions" style="justify-content: center;">
						<li><input type="button" value="Join" class="primary"
							onclick="joinAjax()"></li>
						<li><input type="reset" value="Reset"></li>
					</ul>
				</div>

			</div>
		</form>
		<input type="file" name="profileImage" accept="image/*" hidden="">
	</section>
</th:block>

<th:block layout:fragment="script">
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script type="text/javascript">
	
		function join() {
			let formData = new FormData();
			let profile = $("input[name=profileImage]")[0].files[0];
			let data = {
				name : $("input[name=name]").val(),
				email : $("input[name=email]").val(),
				password : $("input[name=password]").val(),
				passwordConfirm : $("input[name=passwordConfirm]").val(),
				postcode : $("input[name=postcode]").val(),
				jibunAddress : $("input[name=jibunAddress]").val(),
				roadAddress : $("input[name=roadAddress]").val(),
				detailAddress : $("input[name=detailAddress]").val(),
				extraAddress : $("input[name=extraAddress]").val(),
				price : $("input[name=price]").val(),
				gender : $("input[name=gender]:checked").val(),
				groupStatus : $("input[name=groupStatus]:checked").val(),
				groupName : $("input[name=groupName]").val(),
				code : $("input[name=code]").val(),
			};
			
			formData.append("profile", profile);
			formData.append("request", new Blob([JSON.stringify(data)], {type: "application/json"}));
			
			return formData;
		}
		
		function joinAjax() {
			errorMessageReset();
			
			let formData = join();
			
			$.ajax({
				url : "/trainer/join",
				type : "post",
				processData : false,
				contentType : false,
				cache : false,
				data :formData,
				dataType: "json",
				success : function(res) {
					if (res.code === 200) {
						defalutSuccessAlert(res.message, "성공").then(function (){
							window.location.replace("http://localhost:8080/");
						});
					}
				},
				error : function(res) {
					if (res.responseJSON.code === 400) {
						errorMessage(res.responseJSON.data);
					}
				}
			});
		}
		
		function codeSendAjax() {
			let email = $("input[name=email]").val();
			
			$.ajax({
				url : "/mail/send",
				type : "post",
				data : {email : email},
			    beforeSend: function() {
			        //마우스 커서를 로딩 중 커서로 변경
			        $('html').css("cursor", "wait");
			    },
				success : function(res) {
					 $('html').css("cursor", "auto");
					if (res.code === 200) {
						defalutSuccessAlert(res.message, "성공");
					}
				},
				error : function(res) {
					if (res.responseJSON.code === 400) {
						errorMessage(res.responseJSON.data);
					} else {
						defalutErrorAlert(res.responseJSON.message);
					}
				}
			});
		}
		
		function codeConfirmAjax() {
			let email = $("input[name=email]").val();
			let code = $("input[name=code]").val();
		
			$.ajax({
				url : "/mail/confirm",
				type : "post",
				data : {
					email : email,
					code : code
					},
				success : function(res) {
					if (res.code === 200) {
						defalutSuccessAlert(res.message, "성공");
					}
				},
				error : function(res) {
					if (res.responseJSON.code === 400) {
						errorMessage(res.responseJSON.data);
					} else {
						defalutErrorAlert(res.responseJSON.message);
					}
				}
			});
		}
		
		function errorMessage(data) {
			errorMessageReset();
			$.each(data, function (index, item) {
				$("span[class=errorMessage][id='" + index + "']").text(item);
			});
		}
		
		function errorMessageReset() {
			$("span[class=errorMessage]").text("");
		}
		
		$("input").on("change", function () {
			$(this).siblings("span[class=errorMessage]").text("");
		})
		

		$("a[id=fileUpload]").on("click", function(e) {
			e.preventDefault()
			$("input[name=profileImage]").click();
		});

		$("input[name=profileImage]").on("change", function() {
			let fileName = $(this)[0].files[0].name;

			$("input[id=fileName]").val(fileName);
		});

		$("input[name=groupStatus]").on("click", function() {
			let id = $(this).attr("id");
			if (id === "N") {
				$("input[name=groupName]").parent().hide();
			}

			if (id === "Y") {
				$("input[name=groupName]").parent().show();
			}
		});

		function checkNumber(obj) {
			obj.value = obj.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g,
					'$1');
		}

		function sample4_execDaumPostcode() {
			new daum.Postcode(
					{
						oncomplete : function(data) {
							// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

							// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
							// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
							var roadAddr = data.roadAddress; // 도로명 주소 변수
							var extraRoadAddr = ''; // 참고 항목 변수

							// 법정동명이 있을 경우 추가한다. (법정리는 제외)
							// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
							if (data.bname !== ''
									&& /[동|로|가]$/g.test(data.bname)) {
								extraRoadAddr += data.bname;
							}
							// 건물명이 있고, 공동주택일 경우 추가한다.
							if (data.buildingName !== ''
									&& data.apartment === 'Y') {
								extraRoadAddr += (extraRoadAddr !== '' ? ', '
										+ data.buildingName : data.buildingName);
							}
							// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
							if (extraRoadAddr !== '') {
								extraRoadAddr = ' (' + extraRoadAddr + ')';
							}

							// 우편번호와 주소 정보를 해당 필드에 넣는다.
							document.getElementById('sample4_postcode').value = data.zonecode;
							document.getElementById("sample4_roadAddress").value = roadAddr;
							document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

							// 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
							if (roadAddr !== '') {
								document.getElementById("sample4_extraAddress").value = extraRoadAddr;
							} else {
								document.getElementById("sample4_extraAddress").value = '';
							}

							var guideTextBox = document.getElementById("guide");
							// 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
							if (data.autoRoadAddress) {
								var expRoadAddr = data.autoRoadAddress
										+ extraRoadAddr;
								guideTextBox.innerHTML = '(예상 도로명 주소 : '
										+ expRoadAddr + ')';
								guideTextBox.style.display = 'block';

							} else if (data.autoJibunAddress) {
								var expJibunAddr = data.autoJibunAddress;
								guideTextBox.innerHTML = '(예상 지번 주소 : '
										+ expJibunAddr + ')';
								guideTextBox.style.display = 'block';
							} else {
								guideTextBox.innerHTML = '';
								guideTextBox.style.display = 'none';
							}
						}
					}).open();
		}
	</script>
</th:block>
</html>