<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<th:block th:replace="/web/layout/fragment/head :: headFragment"></th:block>

	<body class="is-preload" >
		<div id="wrapper" class="fade-in">
		
			<th:block th:replace="/web/layout/fragment/intro :: introFragment"></th:block>
			
			<th:block th:replace="/web/layout/fragment/top :: topFragment"></th:block>
			
			<div id="main">
				<th:block layout:fragment="content"></th:block>
				<!-- <th:block th:replace="web/layout/fragment/pagination :: paginationFragment"></th:block> -->
			</div>
			<th:block th:replace="/web/layout/fragment/footer :: footerFragment"></th:block>
			<th:block th:replace="/web/layout/fragment/script :: scriptFragment"></th:block>
		</div>
	</body>
	<th:block layout:fragment="script"></th:block>
	<script th:inline="javascript">
		$(document).ready(function(){
			/*<![CDATA[*/
	        let menu = /*[[ ${menu} ]]*/
	        /*]]*/
	        
	        $("ul[class=links]").find("li[id=" + menu + "]").addClass("active");
			
			// 매 페이지 마다 
			// 1. 쿠키에 토큰 저장 유무 확인
			// 2. 저장된 토큰 있을 경우 백으로 토큰 유효성 검사를 넘김
			// 2-1. 성공 시 로그인된 경우에 필요 없는 메뉴들 하이드
			// 2-2. 실패 시 로그인 페이지로 이동 및 쿠키 삭제
			// 3. 없을 경우 아무일도 일어나지 않는다.
			let authToken = getCookie("authToken");
			
			if (authToken !== null) {
				$.ajax({
					url : "/jwt/check",
					type : "post",
					beforeSend: function (xhr) {
				    	xhr.setRequestHeader("Authorization", "Bearer " + authToken);
				    },
					success : function(res, status, request) {
						if (res !== "" && res.body.code === 403) {
							logoutCookie(res.body.message);
							logoutSetMenu();
						} 
						
						if (request.getResponseHeader("Authorization") !== null) {
							let newAuthToken = request.getResponseHeader("Authorization");
							setCookie("authToken", newAuthToken);
							loginSetMenu();
						}
						
						if (request.getResponseHeader("role") !== null) {
							let role = request.getResponseHeader("role");
							setCookie("role", role);
						}
					}
				});
			} else {
				logoutSetMenu();
			}
			
			$("a[id=logout]").on("click", function(e) {
				e.preventDefault();
			
				if (authToken !== null) {
					$.ajax({
						url : "/jwt/logout",
						type : "get",
						beforeSend : function (xhr) {
							xhr.setRequestHeader("Authorization","Bearer " + authToken);
						},
						success : function(res) {
							if (res.code === 200) {
								logoutCookie(res.message);
							}
						}
					});
				}
			});
			
			$("a[id=myPage]").on("click", function(e) {
				let role = getCookie("role").replaceAll(";", "").trim(" ");
				$(this).attr("href", "/" + role + "/my-page");
			});

		});
	</script>
</html>

