<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/layout/layout}">
<th:block layout:fragment="css">
	<style>
		.fa-chevron-down, .fa-chevron-up{
			cursor: pointer;
		}
		 .fa-chevron-up, #license, #award{
		 	display: none;
		 }
		 
	</style>
</th:block>
<th:block layout:fragment="content">
	<!-- Posts -->
	<section class="post">
		<header class="major">
			<h1>
				상세보기
			</h1>
			<p>
				Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br>
				facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br>
				amet nullam sed etiam veroeros.
			</p>
		</header>
		
			<div class="row gtr-uniform">
				
				<div class="col-6">
					<label>대표 이미지</label>
					<img id="profile" src="" alt="" style="border: solid #eeeeee; cursor: pointer; width: 100%; height: 100%;">
				</div>
				
				<div class="col-6">
					<label>이름 <span id="gender" style="color: blue;"> </span></label>
					<input type="text" name="name" value="" disabled="disabled">
					<br>
					
					<label id="groupName"></label>
					<input type="text" name="address" value="" disabled="disabled">
					<br>
					
					<label id="price" ></label>
					<select name="price">
						<option value="">- 선택 -</option>
						<option value="10">10회</option>
						<option value="20">20회</option>
						<option value="30">30회</option>
						<option value="50">50회</option>
					</select>
				</div>
				
				<div class="col-12"></div>
				
				<div class="col-6">
					<label>
						자격증
						<i class="fa fa-chevron-down"  onclick="licenseDown(this)" aria-hidden="true"></i>
						<i class="fa fa-chevron-up"  onclick="licenseUp(this)"  aria-hidden="true"></i>
					</label>
					
					<ul id="license">
					
					</ul>
				</div>
				
				<div class="col-6">
					<label>
						수상경력
						<i class="fa fa-chevron-down down" onclick="licenseDown(this)" aria-hidden="true"></i>
						<i class="fa fa-chevron-up up"  onclick="licenseUp(this)" aria-hidden="true"></i>
					</label>
					
					<ul id="award">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
				
				<div class="col-12">
					<div class="fr-wrapper" style="border: solid 2px #eeeeee;">
						<div id="html" class="fr-element fr-view" style="pointer-events: none;" contenteditable="true" aria-disabled="false" spellcheck="true">
						
						</div>
					</div>
				</div>
				
				<div class="col-12">
					<ul class="actions" style="justify-content: center;">
						<li><input type="button" onclick="location.href='/'" value="back"></li>
					</ul>
				</div>
			
			</div>
	</section>
</th:block>

<th:block layout:fragment="script">
<link href="https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script src="/assets/js/trainer/user.js"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
	   		let id = /*[[ ${id} ]]*/
	    /*]]*/

		let authToken = getCookie("authToken");

		$(document).ready(function(){
			getPostAjax();
			getProfileInfo(authToken);
			getLicense(authToken);
		});
		
		function getPostAjax(){
			$.ajax({
				url : "/api/trainer/post/" + id,
				type : "get",
				success : function(res, status, request) {
					if (res.code === 200) {
						setUserInfo(res.data);
					}
				},
				error : function() {
					let appendHtml = '<p style="text-align: center;">등록한 게시물이 없습니다.</p>';
					$("div[id=html]").append(appendHtml);
				}
			});
		}

		function getProfileInfo(authToken){
			$.ajax({
				url : "/api/trainer/profile/" + id,
				type : "get",
				beforeSend: function (xhr) {
					xhr.setRequestHeader("Authorization", "Bearer " + authToken);
			    },
				success : function(res, status, request) {
					setUserInfo(res.data);
				}
			});
		}
		
		function getLicense(authToken){
			$.ajax({
				url : "/api/trainer/license/" + id,
				type : "get",
				success : function(res, status, request) {
					setUserLicense(res.data);
				}
			});
		}
		
	</script>
</th:block>
</html>
