<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/layout/layout}">
<th:block layout:fragment="css">
	<style>
		.page {
			display:flex;
			justify-content: center;
		}
		.p {
			padding: 0.30rem;
			cursor: pointer;
		}
	</style>
</th:block>
<th:block layout:fragment="content">

	<!-- Posts -->
	<section class="post">
		<h3>공고 목록</h3>
		<div class="table-wrapper">
			<table name="list">
				<thead>
				<tr>
					<th>Title</th>
					<th>Start</th>
					<th>End</th>
					<th>Address</th>
					<th>상세보기</th>
				</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>

		<div class="page">

		</div>
	</section>



</th:block>
<th:block layout:fragment="script">
	<script type="text/javascript">

		$(document).ready(function () {
			getList();
		})
		
		function getList(currentPage = 0) {
			let authToken = getCookie("authToken");

			$.ajax({
				url : "/api/member/job/",
				method : "get",
				data : {
					"currentPage" : currentPage,
				},
				beforeSend : function (xhr) {
					xhr.setRequestHeader("Authorization","Bearer " + authToken);
				},
				success : function(res) {
					setList(res.data.content);
					setPage(res.data.currentPage, res.data.totalPages);
				}
			});
		}
	</script>
</th:block>
</html>