<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/layout/layout}">
<th:block layout:fragment="css">
	<style>
		.page {
			display:flex;
			justify-content: center;
		}
		.p {
			padding: 0.30rem;
			cursor: pointer;
		}
	</style>
</th:block>
<th:block layout:fragment="content">

	<!-- Posts -->
	<section class="post">
		<h3>지원자 목록</h3>
		<div class="table-wrapper">
			<table name="list">
				<thead>
				<tr>
					<th>공고 번호</th>
					<th>트레이너 ID</th>
					<th>지원 금액</th>
					<th>비고</th>
				</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>

		<div class="page">

		</div>
	</section>

</th:block>
<th:block layout:fragment="script">
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
	<script th:inline="javascript">
        /*<![CDATA[*/
	   		let id = /*[[ ${id} ]]*/
	    /*]]*/
		var authToken = getCookie("authToken");

		$(document).ready(function () {
 			checkJobPostingOwnershipAjax();
		})

		function checkJobPostingOwnershipAjax() {
	        $.ajax({
				url : "/api/job/check",
				type : "get",
				data : {
				    id : id,
				},
				beforeSend : function (xhr) {
					xhr.setRequestHeader("Authorization","Bearer " + authToken);
				},
				success : function(res) {
				    if (res.data) {
				    	getList();
				    } else {
				    	defaultErrorAlert("본인이 등록한 공고만 확인 가능합니다.");
				    }
				},
				error : function(res) {
					if (res.responseJSON.code === 400) {
					    defaultErrorAlert(res.responseJSON.message);
					}
				}
			});
	    }
		
		function getList(currentPage = 0) {
			$.ajax({
				url : "/api/applicant/",
				method : "get",
				data : {
					"jobPostingId" : id,
					"currentPage" : currentPage,
				},
				beforeSend : function (xhr) {
					xhr.setRequestHeader("Authorization","Bearer " + authToken);
				},
				success : function(res) {
					console.log(res);
					setList(res.data.content);
					setPage(res.data.currentPage, res.data.totalPages);
				}
			});
		}

		function setList(list) {
			$("table[name=list]").find("tbody").find("tr").remove();

			let html = "";
			if (list.length === 0) {
				html += "<tr><td colspan=5 style='text-align: center;'> 조회된 결과가 없습니다. <td><tr>";
			} else {
				$.each(list, function(key, data) {
					html += "<tr>";
					html += "<td>" + data.jobPostingId + "</td>";
					html += "<td>" + data.trainerId + "</td>";
					html += "<td>" + data.supportAmount + "</td>";
					html += "<td>";

					if(data.isSelected === 0) {
						html += "<a href='#' onclick='select(" + data.id + ")' class='button small'>선택하기</a>";
					} else {
						html += "<a href='#' onclick='cancel(" + data.id + ")' class='button small'>취소하기</a>";
					}

					html += "</td>";
					html += "</tr>";
				});
			}

			$("table[name=list]").find("tbody").append(html);
		}

		let selectApplicantId = "";

		function select(applicantId) {
			defaultQuestionAlert("정말 선택하시겠습니까?", "선택").then(function(result) {
				if (result.isConfirmed) {
					selectApplicantId = applicantId;
					isAnnouncementMatchedAjax();
				}
			});
		}

		function isAnnouncementMatchedAjax() {
			$.ajax({
				url : "/api/match/check/" + id,
				method : "get",
				success : function(res) {
					if (res.code === 200) {
						getApplicantInfoAjax();
					}
				},
				error : function(res) {
					if (res.responseJSON.code === 400) {
						defaultErrorAlert(res.responseJSON.message, "실패");
					}
				}
			});
		}

		function getApplicantInfoAjax() {
			$.ajax({
				url : "/api/applicant/" + selectApplicantId,
				method : "get",
				success : function(res) {
					if (res.code === 200) {
						kakaoPay(res.data);
					}
				},
				error : function(res) {
					if (res.responseJSON.code === 400) {
						defaultErrorAlert(res.responseJSON.message, "실패");
					}
				}
			});
		}

		function kakaoPay(data){
			var IMP = window.IMP;
			IMP.init('imp53640605');
			console.log(data);
			IMP.request_pay({
				pg : 'kakaopay.CID',
				pay_method : 'card',
				merchant_uid : 'merchant_' + new Date().getTime(),   //주문번호
				name : '득근득근 상품결제 : ' + data.title,             //상품명
				amount : data.amount,                    			 //가격
				buyer_email : data.email,             				 //구매자 이메일
				buyer_name : data.name,                              //구매자 이름
				buyer_tel : 'hp',                                    //전화번호
				buyer_addr : data.roadAddress,	                     //주소
				buyer_postcode : data.postcode                       //우편번호
			},function(res){
				if(res.success){
					checkImpUidAjax(res.imp_uid, res.paid_amount);
				}else{
					defaultErrorAlert(res.error_msg, "실패");
				}
			});
		}

		function checkImpUidAjax(impUid, amount) {
			$.ajax({
					url : "/api/payment/" + impUid,
					method : "post",
					success : function(res) {
						if (res.response.amount === amount) {
							savePaymentInfoAjax(res.response)
						}
					},
					error : function(res) {
						if (res.responseJSON.code === 400) {
							defaultErrorAlert(res.responseJSON.message, "실패");
						}
					}
			});
		}

		function savePaymentInfoAjax(data) {
			$.ajax({
					url : "/api/payment/",
					method : "post",
					data : {
						applicantId : selectApplicantId,
						impUid : data.impUid,
						pgProvider : data.pgProvider,
						pgTid : data.pgTid,
						channel : data.channel,
						amount : data.amount,
						paidAt : data.paidAt
					},
					success : function(res) {
						if (res.code === 200) {
							selectAjax();
						}
					},
					error : function(res) {
						if (res.responseJSON.code === 400) {
							defaultErrorAlert(res.responseJSON.message, "실패");
						}
					}
			});
		}

		function selectAjax() {
			$.ajax({
				url : "/api/match/",
				method : "post",
				data : {
					"jobPostingId" : id,
					"applicantId" : selectApplicantId,
				},
				success : function(res) {
					if (res.code === 200) {
						defaultSuccessAlert(res.message, "성공").then(function (){
							window.location.reload();
						});
					}
				},
				error : function(res) {
					if (res.responseJSON.code === 400) {
						defaultErrorAlert(res.responseJSON.message, "실패");
					}
				}
			});
		}

		let cancelApplicantId = "";
		function cancel(applicantId) {
			defaultQuestionAlert("정말 취소하시겠습니까?", "취소").then(function(result) {
				if (result.isConfirmed) {
					cancelApplicantId = applicantId;
					getPaymentInfoAjax();
				}
			});
		}

		function getPaymentInfoAjax() {
			$.ajax({
				url : "/api/payment/" + cancelApplicantId,
				method : "get",
				success : function(res) {
					if (res.code === 200) {
						getIamPortTokenAjax(res.data);
					}
				},
				error : function(res) {
					if (res.responseJSON.code === 400) {
						defaultErrorAlert(res.responseJSON.message, "실패");
					}
				}
			});
		}

		function getIamPortTokenAjax(paymentInfo) {
			$.ajax({
				url: "/api/payment/token",
				method: "get",
				headers: { "Content-Type": "application/json" },
				success : function(res) {
					if (res.code === 200) {
						cancelPaymentAjax(paymentInfo, res.data);
					}
				},
				error : function(res) {
					if (res.responseJSON.code === 400) {
						defaultErrorAlert(res.responseJSON.message, "실패");
					}
				}
			});
		}

		function cancelPaymentAjax(paymentInfo, accessToken) {
			$.ajax({
				url : "/api/payment/cancel",
				method : "post",
				data : {
					impUid : paymentInfo.impUid,
					accessToken  : accessToken,
					amount   : paymentInfo.amount,
				},
				success : function(res) {
					if (res.code === 200) {
						cancelMatchingAjax();
					}
				},
				error : function(res) {
					if (res.responseJSON.code === 400) {
						defaultErrorAlert(res.responseJSON.message, "실패");
					}
				}
			});
		}

		function cancelMatchingAjax() {
			$.ajax({
				url : "/api/match/",
				method : "delete",
				data : {
					"applicantId" : cancelApplicantId,
				},
				success : function(res) {
					if (res.code === 200) {
						defaultSuccessAlert(res.message, "성공").then(function (){
							window.location.reload();
						});
					}
				},
				error : function(res) {
					if (res.responseJSON.code === 400) {
						defaultErrorAlert(res.responseJSON.message, "실패");
					}
				}
			});
		}
	</script>
</th:block>
</html>